/****** General ***********/
* {
    margin:0;
    padding:0;
    text-decoration:none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --border-color:#d9d9d9;
    --white:#ffffff;

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xl: 22px;
}
html{
    scroll-behavior: smooth;
}
body {
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
/*Header*/
header {
    display: flex;
    justify-content: space-between;
}
  
  header img {
    width: 61.09px;
    height: 19px;
    padding: 30px 0;
}
/*Navbar*/
header ul {
    display: flex;
    gap: 68px;
    margin: 0px;
  }
  
header ul li {
    list-style: none;
    padding-top: var(--md);
    font-size: var(--md);
    border-top: 2px solid transparent;
  }
  
header ul li:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
  }
  
main {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
.fa-solid {
    color: var(--main-color);
}
.filters-section {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
  
.filters-section h1,
.filters-section p {
    margin: 0;
}
  
.filters-section h1 {
    margin-bottom: 8px;
    font-size: var(--xl);
}
  
.filters-section p {
    font-size: var(--md);
}


.searchbar {
    display: flex;
    align-items: center;
    border: solid 1px var(--main-bg-color);
    border-radius: 15px;
    width: 377px;
    height:49px;
}
.location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
    padding: 15px;
}
.location-icon img {
    width: 24px;
    height: 24px;
}
.searchbar input {
    flex: 1;
    border:none;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    color: #000;
}
.searchbar input::placeholder {
    color: black;
    font-weight: 700;
}
.searchbar button {
    background-color: #0065FC;
    color:white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 21.13px;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}
.searchbar :where(div, input, button) {
    padding: 15px 18px;
    font-size: var(--lg);
}
.search-button:hover {
    background-color: #0056b3;
}
.search-mobile {
    display: none;
}
/*Barre de filtre*/
.filters {
    display: flex;
    gap: 15px;
    font-weight: 700;
}
.filters h3 {
    font-size: var(--lg);
}
.filters nav {
    display: flex;
    align-items: center;
    gap: 15px;
}
.filters-button {
     display: flex;
     align-items: center;
     gap: 8px;
     background-color: white;
     border: 2px solid var(--border-color);
     border-radius: 25px;
     height: 50px;
     font-size: 17px;
     font-weight: 700;
     padding: 4px 19px;
     cursor: pointer;
}
.filters-button img {
    font-size: 20px;
}
.filters-button:hover {
    background-color: var(--filter-bg-color);
}
/*Barre de filtre (fin)*/

.filters-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--md);
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements-and-populaires section {

    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.herbergement{
    width: 65%;
}
.hebergement{    
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hebergement h2 {
    margin: 0;
}
.hebergement-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
}
.hebergement-card{
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: white;
    padding-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 3px 15px 0 #0000001a;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.hebergement-card:hover {
    transform: translate(0px, -4px);
}
.hebergement-card-image {
    border-radius: 20px 20px 0 0;
    height: 124px;
    padding: 5px;
    object-fit: cover;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 15px;
}
.card-content h3 {
    font-size: var(--md);
}
.card-content p {
    font-size: var(--sm);
}
.card-content h3,
.card-content p {
  margin: 0;
}
.card-rating {
    margin-top: 8px;
}
.herbergement a {
    font-size: var(--lg);
    font-weight: 700;
}
.hebergement a:hover{
    color: #0065FC;
}
/****** Populaires ***********/
.populars {
    width: 32%;
}
  
.populars-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.populars-cards .card {
    display: flex;
    margin-top: 33px;
}
  
.populars-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
  
.populars-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
  
.populars-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
  
.populars-cards .card-subtitle {
    margin: 0;
}
  
.populars-cards .card-rating {
    margin-bottom: 5px;
}

/*Activités à Marseille 3eme partie du site*/
.activities {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}
  
.activities h2 {
    font-size: var(--xl);
}
  
.activities-list {
    display: flex;
    width: 100%;
    gap: 30px;
}
  
.activities-link-card {
    display: flex;
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 3px 15px 0 #0000001a;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.activities-link-card:hover{
    transform: translate(0px, -4px);
}  
.activities-list-card {
    display: flex;
    flex-direction: column;
    font-size: var(--md);
    width: 100%;
}
  
.activities-list-card img {
    height: 380px;
    border-radius: 20px 20px 0 0;
}
  
.activities-list-card h3 {
    display: flex;
    align-items: center;
    padding: 20px 19px;
    margin: 0;
}
  /****** Footer ***********/
footer {
    width: 100%;
    max-width: 1340px;
    min-height: 163px;
    background-color: var(--main-bg-color);
    display: flex;
}
.footerSection {
    width: calc(100% / 3);
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footerLink{
    color: #000;
}
.footerLink:hover{
    color: #0056b3;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
      padding: 0 20px !important;
    }
    .hebergements-and-populaires {
        flex-direction: column;
      }
    .hebergement {
        width: 100%;
      }
    .hebergementCardscontainer-wrap {
        margin: auto;
    }
    .filters {
        flex-direction: column;
      }
    .populaires {
        width: 100%;
        margin-top: 50px;
      }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    .populaires-cards a {
        width: 30%;
      }
    .populaires-cards .card-title {
        font-size: 14px;
      }
    .populaires-cards .card-subtitle {
        font-size: 13px;
      }
    .activityCards a {
        margin: center;
        height: 270px;
        width: 864px;
    }
    .activityOneCard {
        height: 70px;
      }
    .activityCardImage {
        height: 270px;
        width: 193.5px;
    }
    .activityCardTxt {
        height: 70px;
    }
    .activityOneCard img {
        height: 270px;
        width: 193.5px;
        object-fit: cover;
      }
}

/* Ajustements pour les mobiles */
@media screen and (max-width: 768px) {
.main-container {
        padding: 0 !important;
}
    
header {
    display: flex;
        flex-direction: column;
        align-items: center;
}
    
header ul {
        gap: 0;
        width: 100%;
        padding: 0;
        cursor: pointer;
}
header nav,
header ul,
header li {
        width: 100%;
}
header li {
        padding-top: 0 !important;
        padding-bottom: var(--md);
        text-align: center;
        border-bottom: 2px solid var(--main-bg-color);
}
    
header li:hover {
        border-top: none !important;
        border-bottom: 2px solid var(--main-color);
}
    
.FirstSection {
        margin: 0 20px;
}
    
.search-bar {
        width: 100% !important;
}
.search-bar input {
        padding: 15px;
        width: 100%;
}
.search-button {
    display: none;
  }
.search-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px !important;
    font-size: var(--lg);
    width: 49px;
    height: 49px;
    background-color: #0065FC;
}
.search-mobile i {
    color: white;
}
.filtersButtonsContainer {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.filtersButtonsContainer{
    padding: 4px 19px;
  }
.hebergements-and-populaires {
    flex-direction: column-reverse;
}
.hebergement,
.populaires {
    border-radius: 0 !important;
}
.hebergements {
    background-color: white !important;
}
.populaires-cards {
    flex-direction: column;
}
.populaires-cards a {
    width: 100%;
}
.hebergementCardscontainer-wrap{
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.hebergementsCards {
    width: 100%;
}
.hebergementCardscontainer-wrapB {
    flex-direction: column;
    justify-content: center;
}
.card-content{
    width: 100%;
}
.card-content p h3 div {
    width: 100%;
}
.card {
    width: 100%;
}
.activityCards {
    flex-direction: column;
}
.activityCards {
    margin: center;
    height: 845px;
    width: 315px;
}
.activityOneCard {
    width: 315px;
    height: 200px;
  }
.activityCardImage {
    height: 141px;
    width: 315px;
}
.activityCardTxt {
    height: 70px;
}
.activityOneCard img {
    height: 270px;
    width: 193.5px;
    object-fit: cover;
  }
footer {
    flex-direction: column;
    gap: 50px;
    padding: 30px;
}
.footerSection {
    padding: 0;
}

}
